  h1{
                    color: red;
                    background :yellow;
                }
                #first{
                    color:blue;
                    background :orange;
                }